body {
	padding: 15px;
	background-color: #96e4f9
}

[draggable="true"] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/*Support old versions of WebKit*/
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

div[draggable="true"], [data-role="draggable"] {
	cursor: move;
}

.over {
	background-color: #fff;
	border: 1px dashed #999;
}

.drag {
	opacity: 0.5;
}

/*
#slots {
	margin: 0 auto;
	border:  1px solid black;
}

#pile {
	margin: 50px auto 0 auto;
	border:  1px solid black;
}

#cardSlots, #cardPile {
	width: 910px;
	height: 120px;
	padding: 20px;
	border: 2px solid #333;
}

#slots div, #pile div {
	float: left;
	width: 58px;
	height: 78px;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 0;
	margin: 0 0 0 10px;
}

#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
*/